<% layout('/boilerplate/boilerplate.ejs') -%>

        <div class="row">
          <%- include('../partials/flash.ejs') %>

            <div class="col-sm-12 col-lg-6">
                <div class="card mx-auto" style="width: 20rem;">
                    <img style="height: 200px;" src="<%= product.img %>" class="mx-auto card-img-top object-fit-cover" alt="..." >
                    <div class="card-body">
                      <h5 class="card-title"><%= product.name %></h5>
                      <h5 id="amount" class="card-text">₹ <%= product.price %></h5>
                      <p class="card-text"><%= product.desc %></p>
                      <a id="buy-btn" href="" class="btn btn-sm btn-primary">Buy Now</a>
                      <form class="d-inline" action="/user/cart/<%= product._id %>/add" method="post">
                        <button class="btn btn-sm btn-success">Add to Cart</button>
                      </form>
                      <a href="/products/<%= product._id %>/edit" class="btn btn-sm btn-secondary">Edit</a>
                      <form class="d-inline" action="/products/<%= product._id %>?_method=DELETE" method="post">
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    </div>
                  </div>
            </div>
    
            <div class="col-sm-12 col-lg-6">
                <div class="col-6 mx-auto">
                  <h1 class="display-6">Reviews</h1>
                <form action="/products/<%= product._id %>/add" method="post">
                  <fieldset class="starability-basic">
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                  <textarea class="form-control" name="comment" cols="20" rows="3" placeholder="Type here..."></textarea>
                  <button class="btn btn-sm btn-primary mt-2">Submit</button>
                </form>

                <div>
                    <% for(let review of product.reviews){ %>
                      <div class="card my-3">
                        <div class="card-header">
                          <p class="starability-result" data-rating="<%= review.rating %>"></p>
                        </div>
                        <div class="card-body">
                          <p><%= review.comment %></p>
                        </div>
                      </div>
                    <% } %>
                </div>
                </div>
            </div>
        </div>

        <script src="/js/payment.js"></script>